.continue-button {
  background-color: var(--color-button-1-bg);
  border-radius: 0.75rem;
  color: var(--color-button-1-fg);
  font-size: 1.75rem;
  padding: 0.375rem 1.5rem;
}

.continue-button:disabled {
  cursor: not-allowed;
  filter: brightness(50%);
  opacity: 0.5;
}
