.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.announcer {
  font-size: 1.75rem;
}

.player-areas {
  height: 32rem;

  display: flex;
  gap: 2rem;
}

.player-area {
  background-color: var(--color-bg-secondary);
  border-radius: 2rem;
  height: 100%;
  padding: 1rem;
  width: 32rem;
}

.player-creation {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ship-placements-menu {
  height: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ships-to-place {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ships-to-place .ship-node {
  outline: 1px solid var(--color-ship-outline);
}
