body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  padding: 1rem 2rem;
}

.main-content {
  display: flex;
  height: 40rem;
}

.menu {
  background-color: var(--color-menu-bg);
  border-radius: 1rem;
  width: 20rem;
  padding: 0.5rem 1rem;
}
