.board {
  background-color: var(--color-board-bg);
  border-radius: 1.5rem;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 100%;
  outline: 2px solid var(--color-board-border);
}

.coordinate {
  outline: 1px solid var(--color-board-border);
}

.coordinate.discovered:not(.hit) {
  background: no-repeat center/100% url('../icons/x.svg');
}

.coordinate.discovered.hit {
  background: no-repeat center/90% url('../icons/viewfinder.svg');
}
