body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  min-height: 100vh;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
