body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  min-height: 100vh;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.announcer {
  font-size: 1.75rem;
}

.board-areas {
  height: 32rem;

  display: flex;
  gap: 2rem;
}

.board-area {
  background-color: var(--color-bg-secondary);
  border-radius: 2rem;
  height: 100%;
  padding: 1rem;
  width: 32rem;
}

.ships-to-place {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
