.game-config-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.game-config-form .heading {
  margin-block: 1rem 0.5rem;
  text-align: center;
}

.game-config-form fieldset {
  border: none;
  display: flex;
  gap: 1rem;
  min-width: 0;
}

.game-config-form .versus {
  font-size: 1.75rem;
  font-style: italic;
  font-weight: bold;
  margin-block: -0.5rem;
  text-align: center;
}

.game-config-form select,
.game-config-form input {
  background-color: var(--color-input-bg);
  border-radius: 0.5rem;
  color: var(--color-input-fg);
  padding: 0.25rem 0.5rem;
}

.game-config-form select:focus,
.game-config-form input:focus {
  outline: 2px solid var(--color-border-focus);
}

.game-config-form input {
  min-width: 0;
}

.game-config-form button {
  align-self: center;
  background-color: var(--color-button-1-bg);
  border-radius: 0.5rem;
  color: var(--color-button-1-fg);
  font-size: 1.25rem;
  margin-block: 0.5rem;
  padding: 0.375rem 3rem;
}

.game-config-form button:hover {
  background-color: var(--color-button-1-bg-hover);
}

.game-config-form button:is(:focus) {
  outline: 2px solid var(--color-border-focus);
}
